{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}

<h1>アニメを探す</h1>
<form action="{% url 'search' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        <div class="form-group row">
            <div class="col-sm-3">
                {{ form.year.label }}
                {{ form.year|add_class:'form-control' }}
            </div>
            <div class="col-sm-3">
                {{ form.cours.label }}
                {{ form.cours|add_class:'form-control' }}
            </div>
        </div>
    </table>
    <div class="form-group row">
        <div class="col-sm">
            <button type="submit" class="btn btn-primary btn-block" name='action' value="search">探す</button>
        </div>
    </div>
</form>
<div class="container">

    {% if anime_list %}
    {% for anime in anime_list %}
    <div class="row">
        <p>ID:{{ anime.id }}</p>
        <p>Title:{{ anime.title }}</p>
        <hr>
    </div>
    {% endfor%}
    {% endif %}
<div class="container">
{% endblock %}