{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}
<h1>編集</h1>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'profile_edit' user.nick_name %}">プロフィール</a>
    </div>
  </div>
  <form method="post" enctype="multipart/form-data">
    <div class="col-md-9">
      <div class="form-group row">
        {% csrf_token %}
        <div class="col-sm-9">
          {{ form.as_p }}
        </div>
        <div class="col-sm-9">
          {{formset.as_p}}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-info btn-block"> 更新する</button>
  </form>
  <div class="delete-help">一度アカウントを削除すると、二度と元に戻せません。</div>
  <a data-confirm="本当に削除してもよろしいですか？" class="btn btn-default btn-danger" rel="nofollow" data-method="delete" href="/delete">アカウントを削除する</a>
</div>

{% endblock %}
